/*sass variables*/

$indent-margin: 6rem;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
        }



body{
  width:100%;

  font-size: 16px;
  font-family: 'Julius Sans One', sans-serif;
  margin:0;
  padding:0;
}

.background{


  background: url('../images/Bakgrund.jpg');
  height:2000px;
  min-height: 855px;
  width: 100vw;
  background-size: 100%;
  margin:0;
  padding:0;
}
main{
  height:100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin:0;
  border:2px solid white;
  padding:0;
}


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  top:0;
  width: 100%;

  height: 10rem;

}
nav{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.heroarticle{
  display: flex;
  justify-content: center;
  align-items: center;
  @include border-radius(0);
  width:20rem;
  height:20rem;
  border: 4px solid white;
  color:white;
  margin-top: 10em;

}
.art1{  transition:all 1s ease;
  &:hover{
    background: white;
    color:red;
    border-radius: 50%;
    transform:rotate(360deg);
  }}

.art2:hover{
  transform: translate(20px, 20px);
  transition: all 1s ease;

}

/* typography*/
a{
  font-size: 1.5rem;
  text-decoration: none;
  color:white;
  transition: all 1s ease;
  &:hover{
    color:green;
  }
}
h1{
  font-size: 2rem;
  transition: all 1s ease;
  &:hover{
    color:green;
  }
}
.title{
  font-size: 2rem;

  &:active{
    background:white;
    border-radius: 50%;
    
  }
}
.transparent{
  color:white;
}
.lada{
  height:200px;
  width:200px;
  background:white;
  &:hover{

  transform: rotate(30deg);
  border-radius: 50%;
  transition: all 1s ease;
  }
}
